<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.RechargeMapper">

	<insert id="insertUserRechargeRecord" parameterType="com.trans.pixel.model.RechargeBean">
		INSERT INTO recharge(user_id, product_id, company, order_id, order_time, server_id)
		VALUES(#{userId}, #{productId}, #{company}, #{orderId}, #{orderTime}, #{serverId})
	</insert>

</mapper>