<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.TeamRaidMapper">

	<resultMap id="teamRaidMap" type="com.trans.pixel.model.userinfo.TeamRaidBean">
		<id property="userid" column="userid" />
		<result property="id" column="id" />
		<result property="status" column="status" />
	</resultMap>

	<update id="updateRaid" parameterType="com.trans.pixel.model.userinfo.TeamRaidBean">
		INSERT INTO user_teamraid(userid, id, status)
	    VALUES(#{userid}, #{id}, #{status})
	    ON 
	    duplicate key update
	    status=#{status}
	</update>

	<select id="getRaids" parameterType="long" resultMap="teamRaidMap">
		SELECT *
		from user_teamraid where userid = #{userid}
	</select>

	<select id="delRaid">
		DELETE
		from user_teamraid where userid = #{userid} and id = #{id}
	</select>
</mapper>