<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UnionMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.UnionBean">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="level" column="level" />
		<result property="serverId" column="serverid" />
		<result property="icon" column="icon" />
		<result property="point" column="point" />
	</resultMap>

	<select id="selectUnionById" resultMap="resultMap">
	    SELECT * from user_union where id=#{id}
	</select>

	<select id="deleteUnion" resultMap="resultMap">
	    DELETE from user_union where id=#{id}
	</select>
	
	<select id="selectUnionsByServerId" resultMap="resultMap">
	    SELECT * from user_union where serverid=#{serverid}
	</select>
	
	<insert id="createUnion" useGeneratedKeys="true" keyProperty="id" parameterType="com.trans.pixel.model.UnionBean">
	    INSERT INTO user_union(serverid, name, level, icon, point) 
	    VALUES(#{serverId}, #{name}, #{level}, #{icon}, #{point})
	</insert>
	
	<select id="selectUnionByServerIdAndName" resultMap="resultMap">
	    SELECT * from union where serverid=#{serverid} and name=#{name}
	</select>
	
	<update id="updateUnion" parameterType="com.trans.pixel.model.UnionBean">
	    UPDATE user_union SET level={level}, point=#{point}
		WHERE id=#{id}
	</update>
	
</mapper>