<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserPokedeMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserPokedeBean">
		<result property="userId" column="user_id" />
		<result property="heroId" column="hero_id" />
		<result property="rare" column="rare" />
		<result property="level" column="level" />
		<result property="count" column="count" />
		<result property="strengthen" column="strengthen" />
	</resultMap>
	
	<select id="selectUserPokede" resultMap="resultMap">
		SELECT *
		from user_pokede where user_id=#{userId} and hero_id=#{heroId}
	</select>
	
	<insert id="updateUserPokede" parameterType="com.trans.pixel.model.userinfo.UserPokedeBean">
	    INSERT INTO user_pokede(user_id, hero_id, rare, level, count, strengthen)
	    VALUES(#{userId}, #{heroId}, #{rare}, #{level}, #{count}, #{strengthen})
	    ON 
	    duplicate key update
	    rare=#{rare}, level=#{level}, count=#{count}, strengthen=#{strengthen}
	</insert>
	
	<select id="selectUserPokedeList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_pokede where user_id=#{userId}
	</select>
	
</mapper>