<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserHeroMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.HeroInfoBean">
		<result property="userId" column="user_id" />
		<result property="heroId" column="hero_id" />
		<result property="id" column="info_id" />
		<result property="level" column="level" />
		<result property="starLevel" column="star_level" />
		<result property="value" column="value" />
		<result property="isLock" column="is_lock" />
		<result property="skillInfo" column="skill_info" />
		<result property="rank" column="rank" />
		<result property="equipId" column="equip_id" />
	</resultMap>
	
	<select id="selectUserHero" resultMap="resultMap">
		SELECT *
		from user_hero where user_id=#{userId} and info_id=#{infoId} limit 1
	</select>
	
	<select id="selectUserHeroByHeroId" resultMap="resultMap">
		SELECT *
		from user_hero where user_id=#{userId} and hero_id=#{heroId} limit 1
	</select>
	
	<insert id="addUserHero" useGeneratedKeys="true" keyProperty="id" parameterType="com.trans.pixel.model.HeroInfoBean">
	    INSERT INTO user_hero(user_id, hero_id, info_id, level, star_level, value, is_lock, equip_id, skill_info, rank)
	    VALUES(#{userId}, #{heroId}, #{id}, #{level}, #{starLevel}, #{value}, #{isLock}, #{equipId}, #{skillInfo}, #{rank})
	</insert>
	
	<update id="updateUserHero" parameterType="com.trans.pixel.model.HeroInfoBean">
	    update user_hero set level=#{level}, star_level=#{starLevel},
	    value=#{value}, is_lock=#{isLock}, equip_id=#{equipId}, skill_info=#{skillInfo}, rank=#{rank}
	    where user_id=#{userId} and info_id=#{id}
	</update>
	
	<select id="selectUserHeroList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_hero where user_id=#{userId}
	</select>
	
	<delete id="deleteUserHero">
		DELETE 
		from user_hero where user_id=#{userId} and info_id=#{infoId}
	</delete>
	
</mapper>