<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserLootRaidMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserLootRaidBean">
		<result property="userid" column="userid" />
		<result property="taskid" column="taskid" />
		<result property="raidid" column="raidid" />
		<result property="count" column="count" />
		<result property="loottime" column="loottime" />
	</resultMap>
	
	<insert id="updateUserLoot" parameterType="com.trans.pixel.model.userinfo.UserLootRaidBean">
	    INSERT INTO user_loot_raid(userid, taskid, raidid, count, loottime)
	    VALUES(#{userid}, #{taskid}, #{raidid}, #{count}, #{loottime})
	    ON 
	    duplicate key update
	    raidid=#{raidid}, count=#{count}, loottime=#{loottime}
	</insert>
	
	<select id="selectUserLootList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_loot_raid where userid=#{userid}
	</select>
	
</mapper>