<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserLibaoMapper">
	
	<resultMap id="userLibaoMap" type="com.trans.pixel.model.userinfo.UserLibaoBean">
		<result property="userId" column="user_id" />
		<result property="rechargeId" column="recharge_id" />
		<result property="validTime" column="valid_time" />
		<result property="purchase" column="purchase" />
	</resultMap>

	<select id="queryById" resultMap="userLibaoMap">
	    SELECT * from user_libao where user_id=#{userId}
	</select>
	
	<update id="update" parameterType="com.trans.pixel.model.userinfo.UserLibaoBean">
	    INSERT INTO user_libao(user_id, recharge_id, valid_time, purchase)
	    VALUES(#{userId}, #{rechargeId}, #{validTime}, #{purchase})
	    ON 
	    duplicate key update
	    valid_time=#{validTime}, purchase=#{purchase}
	</update>
	
</mapper>