<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserMapper">

	<resultMap id="userMap" type="com.trans.pixel.model.userinfo.UserBean">
		<id property="id" column="id" />
		<result property="account" column="account" />
		<result property="name" column="name" />
	</resultMap>

	<select id="queryById" parameterType="long" resultMap="userMap">
		SELECT *
		from user where id = #{userId}
	</select>
	
	<insert id="addNewUser" parameterType="com.trans.pixel.model.userinfo.UserBean">
		INSERT INTO user(id, server_id, account, name)
		VALUES(#{id}, #{serverId}, #{account}, #{userName})
	</insert>
	
	<update id="updateUser" parameterType="com.trans.pixel.model.UserBean">
		UPDATE user SET server_id=#{serverId}, account=#{account}, name=#{userName}
		WHERE id={id}
	</update>

</mapper>
