<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserFightInfoMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserFightInfoBean">
		<result property="userId" column="user_id" />
		<result property="fightinfoId" column="fightinfo_id" />
		<result property="fightinfo" column="fightinfo" />
	</resultMap>
	<insert id="saveFightInfo" parameterType="com.trans.pixel.model.userinfo.UserFightInfoBean">
	    INSERT INTO user_fightinfo(user_id, fightinfo_id, fightinfo) 
		 VALUES(#{userId}, #{fightinfoId}, #{fightinfo})
		 ON 
	    duplicate key update
	    fightinfo=#{fightinfo}
	</insert>

	<select id="getFightInfos" parameterType="long" resultMap="resultMap" >
	    SELECT * from user_fightinfo where user_id=#{userId}
	</select>
	
	<delete id="removeFightInfo">
	    DELETE FROM user_fightinfo
	    WHERE user_id=#{userId}
	    AND fightinfo_id=#{fightinfoId}
	</delete>
	
</mapper>