<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserAchieveMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserAchieveBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="type" column="type" />
		<result property="completeId" column="complete_id" />
		<result property="completeCount" column="completeCount" />
		<result property="rewardId" column="reward_id" />
	</resultMap>

	<select id="selectUserAchieve" resultMap="resultMap">
		SELECT *
		from user_achieve where user_id=#{userId} and type=#{type}
	</select>
	
	<insert id="updateUserAchieve" parameterType="com.trans.pixel.model.userinfo.UserAchieveBean">
	    INSERT INTO user_achieve(user_id, type, complete_id, complete_count, reward_id)
	    VALUES(#{userId}, #{type}, #{completeId}, #{completeCount}, #{rewardId})
	    ON 
	    duplicate key update
	    complete_id=#{completeId},
	    complete_count=#{completeCount},
	    reward_id=#{rewardId}
	</insert>
	
	<select id="selectUserAchieveList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_achieve where user_id=#{userId}
	</select>
	
</mapper>