<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserLevelMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserLevelBean">
		<id property="userId" column="userId" />
		<result property="lootTime" column="lootTime" />
		<result property="eventTime" column="eventTime" />
		<result property="unlockDaguan" column="unlockDaguan" />
		<result property="unlockOrder" column="unlockOrder" />
		<result property="lootDaguan" column="lootDaguan" />
		<result property="lootTimeNormal" column="loot_time_normal" />
	</resultMap>
	<resultMap id="eventMap" type="com.trans.pixel.model.userinfo.EventBean">
		<id property="userId" column="userId" />
		<result property="order" column="eventorder" />
		<result property="eventid" column="eventid" />
		<result property="daguan" column="daguan" />
		<result property="level" column="level" />
		<result property="count" column="count" />
	</resultMap>

	<update id="updateUserLevel" parameterType="com.trans.pixel.model.userinfo.UserLevelBean">
		INSERT INTO user_level(userId, lootTime, eventTime, unlockDaguan, unlockOrder, lootDaguan, loot_time_normal)
	    VALUES(#{userId}, #{lootTime}, #{eventTime}, #{unlockDaguan}, #{unlockOrder}, #{lootDaguan}, #{lootTimeNormal})
	    ON 
	    duplicate key update
	    lootTime=#{lootTime},eventTime=#{eventTime},unlockDaguan=#{unlockDaguan},unlockOrder=#{unlockOrder},lootDaguan=#{lootDaguan},
	    loot_time_normal=#{lootTimeNormal}
	</update>

	<select id="getUserLevel" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_level where userId = #{userId}
	</select>

	<update id="updateEvent" parameterType="com.trans.pixel.model.userinfo.EventBean">
		INSERT INTO user_event(userId, eventorder, eventid, daguan, level, count)
	    VALUES(#{userId}, #{order}, #{eventid}, #{daguan}, #{level}, #{count})
	    ON 
	    duplicate key update
	    eventid=#{eventid},daguan=#{daguan},level=#{level},count=#{count}
	</update>

	<select id="getEvents" parameterType="long" resultMap="eventMap">
		SELECT *
		from user_event where userId = #{userId}
	</select>

	<select id="delEvent">
		DELETE
		from user_event where userId = #{userId} and eventorder = #{order}
	</select>
</mapper>