<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserLevelMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserLevelBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="lastLevelResultTime" column="last_level_result_time" />
		<result property="levelPrepareTime" column="level_prepare_time" />
		<result property="putongLevel" column="putong_level" />
		<result property="kunnanLevel" column="kunnan_level" />
		<result property="diyuLevel" column="diyu_level" />
	</resultMap>

	<select id="selectUserLevelRecord" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_level where user_id = #{userId}
	</select>
	
	<insert id="insertUserLevelRecord" parameterType="com.trans.pixel.model.userinfo.UserLevelBean">
		INSERT INTO user_level(user_id, last_level_result_time, level_prepare_time, putong_level, kunnan_level, diyu_level)
		VALUES(#{userId}, #{lastLevelResultTime}, #{levelPrepareTime}, #{putongLevel}, #{kunnanLevel}, #{diyuLevel})
	</insert>
	
	<update id="updateUserLevelRecord" parameterType="com.trans.pixel.model.userinfo.UserLevelBean">
		UPDATE user_level 
		SET last_level_result_time=#{lastLevelResultTime}, 
		level_prepare_time=#{levelPrepareTime}, 
		putong_level=#{putongLevel},
		kunnan_level=#{kunnanLevel},
		diyu_level=#{diyuLevel}
		WHERE user_id=#{userId}
	</update>

</mapper>