<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserMapper">

	<resultMap id="userMap" type="com.trans.pixel.model.userinfo.UserBean">
		<id property="id" column="id" />
		<result property="account" column="account" />
		<result property="userName" column="name" />
		<result property="serverId" column="server_id" />
		<result property="unionId" column="union_id" />
		<result property="unionJob" column="union_job" />
		<result property="jewel" column="jewel" />
		<result property="coin" column="coin" />
		<result property="exp" column="exp" />
		<result property="vip" column="vip" />
		<result property="pointPVP" column="point_pvp" />
		<result property="pointLadder" column="point_ladder" />
		<result property="pointExpedition" column="point_expedition" />
		<result property="pointUnion" column="point_union" />
		<result property="receiveMessageTimeStamp" column="receive_message_timestamp" />
		<result property="lastLootTime" column="last_loot_time" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="registerTime" column="register_time"/>
		<result property="ladderModeHistoryTop" column="ladder_mode_history_top" />
		<result property="loginDays" column="login_days" />
		<result property="pvpUnlock" column="pvp_unlock" />
		<result property="areaUnlock" column="area_unlock" />
		<result property="heroLimit" column="hero_limit" />
		<result property="composeSkill" column="compose_skill" />
		<result property="rechargeRecord" column="recharge_record" />
		<result property="heroInfoId" column="hero_info_id" />
		<result property="viplibao1" column="viplibao1" />
		<result property="viplibao2" column="viplibao2" />
		<result property="firstGetHeroId" column="first_get_hero_id" />
		<result property="totalSignCount" column="total_sign_count" />
		<result property="greenhand" column="greenhand" />
		<result property="advance" column="advance" />
		<result property="shouchongIsComplete" column="shouchong_is_complete" />
		<result property="shouchongIsGetReward" column="shouchong_is_get_reward" />
		<result property="currentTeamid" column="current_teamid" />
		<result property="monthJewel" column="month_jewel" />
		<result property="monthJewelStatus" column="month_jewel_status" />
		<result property="monthJewel2" column="month_jewel2" />
		<result property="monthJewel2Status" column="month_jewel2_status" />
		<result property="poluoLibao" column="poluo_libao" />
		<result property="poluoLibaoStatus" column="poluo_libao_status" />
		<result property="superPoluoLibao" column="super_poluo_libao" />
		<result property="superPoluoLibaoStatus" column="super_poluo_libao_status" />
		<result property="blueEquipLibao" column="blue_equip_libao" />
		<result property="blueEquipLibaoStatus" column="blue_equip_libao_status" />
		<result property="purpleEquipLibao" column="purple_equip_libao" />
		<result property="purpleEquipLibaoStatus" column="purple_equip_libao_status" />
		<result property="growJewelCount" column="grow_jewel_count" />
		<result property="growJewelCountStatus" column="grow_jewel_count_status" />
		<result property="growExpCount" column="grow_exp_count" />
		<result property="growExpCountStatus" column="grow_exp_count_status" />
	</resultMap>

	<select id="queryById" parameterType="long" resultMap="userMap">
		SELECT *
		from user where id = #{userId}
	</select>

	<select id="queryByServerAndAccount" resultMap="userMap">
		SELECT *
		from user where server_id = #{serverId} and account = #{account}
	</select>
	
	<select id="queryByServerAndName" resultMap="userMap">
		SELECT *
		from user where server_id = #{serverId} and name = #{userName}
	</select>
	
	<select id="queryByUnionId" parameterType="int" resultMap="userMap">
		SELECT *
		from user where union_id = #{unionId}
	</select>
	
	<insert id="addNewUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.trans.pixel.model.userinfo.UserBean">
		INSERT INTO user(account, name, server_id, union_id, jewel, coin, exp, point_pvp, point_ladder, point_expedition, 
		point_union, receive_message_timestamp, last_loot_time, last_login_time, ladder_mode_history_top, login_days, 
		register_time, hero_limit, compose_skill, recharge_record, hero_info_id, total_sign_count, greenhand, advance,
		shouchong_is_complete, shouchong_is_get_reward, current_teamid)
		VALUES(#{account}, #{userName}, #{serverId}, #{unionId}, #{jewel}, #{coin}, #{exp}, #{pointPVP}, #{pointLadder},
		#{pointExpedition}, #{pointUnion}, #{receiveMessageTimeStamp}, #{lastLootTime}, #{lastLoginTime},
		#{ladderModeHistoryTop}, #{loginDays}, #{registerTime}, #{heroLimit}, #{composeSkill}, #{rechargeRecord}, #{heroInfoId},
		#{totalSignCount}, #{greenhand}, #{advance}, #{shouchongIsComplete}, #{shouchongIsGetReward}, #{currentTeamid})
	</insert>
	
	<update id="updateUser" parameterType="com.trans.pixel.model.userinfo.UserBean">
		UPDATE user SET name=#{userName}, server_id=#{serverId}, union_id=#{unionId}, account=#{account}, union_job=#{unionJob}, jewel=#{jewel}, coin=#{coin},
		exp=#{exp}, point_pvp=#{pointPVP}, point_ladder=#{pointLadder}, point_expedition=#{pointExpedition},
		point_union=#{pointUnion}, receive_message_timestamp=#{receiveMessageTimeStamp},vip=#{vip},
		last_loot_time=#{lastLootTime}, last_login_time=#{lastLoginTime}, ladder_mode_history_top=#{ladderModeHistoryTop},
		login_days=#{loginDays}, pvp_unlock=#{pvpUnlock}, area_unlock=#{areaUnlock},
		hero_limit=#{heroLimit}, compose_skill=#{composeSkill}, recharge_record=#{rechargeRecord}, hero_info_id=#{heroInfoId},
		viplibao1=#{viplibao1}, viplibao2=#{viplibao2}, first_get_hero_id=#{firstGetHeroId}, total_sign_count=#{totalSignCount},
		greenhand=#{greenhand}, advance=#{advance}, shouchong_is_complete=#{shouchongIsComplete}, shouchong_is_get_reward=#{shouchongIsGetReward}, current_teamid=#{currentTeamid}, month_jewel=#{monthJewel},
		month_jewel_status=#{monthJewelStatus}, month_jewel2=#{monthJewel2}, month_jewel2_status=#{monthJewel2Status}, 
		poluo_libao=#{poluoLibao}, poluo_libao_status=#{poluoLibaoStatus}, super_poluo_libao=#{superPoluoLibao}, 
		super_poluo_libao_status=#{superPoluoLibaoStatus}, blue_equip_libao=#{blueEquipLibao}, blue_equip_libao_status=#{blueEquipLibaoStatus}, 
		purple_equip_libao=#{purpleEquipLibao}, purple_equip_libao_status=#{purpleEquipLibaoStatus}, grow_jewel_count=#{growJewelCount}, 
		grow_jewel_count_status=#{growJewelCountStatus}, grow_exp_count=#{growExpCount}, grow_exp_count_status=#{growExpCountStatus}
		WHERE id=#{id}
	</update>

</mapper>
