<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserPvpMapRecordMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserPvpMapBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="mapId" column="map_id" />
		<result property="buff" column="buff" />
	</resultMap>
	
	<select id="selectUserPvpMap" resultMap="resultMap">
		SELECT *
		from user_pvp_map where user_id=#{userId} and map_id=#{mapId}
	</select>
	
	<insert id="updateUserPvpMap" parameterType="com.trans.pixel.model.userinfo.UserPvpMapBean">
	    INSERT INTO user_pvp_map(user_id, map_id, buff)
	    VALUES(#{userId}, #{mapId}, #{buff})
	    ON 
	    duplicate key update
	    buff=#{buff}
	</insert>
	
	<select id="selectUserPvpMapList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_pvp_map where user_id=#{userId}
	</select>
	
</mapper>