<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserMapper">

	<resultMap id="userMap" type="com.trans.pixel.model.userinfo.UserBean">
		<id property="id" column="id" />
		<result property="account" column="account" />
		<result property="userName" column="name" />
		<result property="serverId" column="server_id" />
		<result property="unionId" column="union_id" />
		<result property="unionJob" column="union_job" />
		<result property="jewel" column="jewel" />
		<result property="coin" column="coin" />
		<result property="exp" column="exp" />
		<result property="vip" column="vip" />
		<result property="pointPVP" column="point_pvp" />
		<result property="pointLadder" column="point_ladder" />
		<result property="pointExpedition" column="point_expedition" />
		<result property="pointUnion" column="point_union" />
		<result property="receiveMessageTimeStamp" column="receive_message_timestamp" />
		<result property="lastLootTime" column="last_loot_time" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="ladderModeHistoryTop" column="ladder_mode_history_top" />
	</resultMap>

	<select id="queryById" parameterType="long" resultMap="userMap">
		SELECT *
		from user where id = #{userId}
	</select>

	<select id="queryByServerAndAccount" resultMap="userMap">
		SELECT *
		from user where server_id = #{serverId} and account = #{account}
	</select>
	
	<select id="queryByUnionId" parameterType="int" resultMap="userMap">
		SELECT *
		from user where union_id = #{unionId}
	</select>
	
	<insert id="addNewUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.trans.pixel.model.userinfo.UserBean">
		INSERT INTO user(account, name, server_id, union_id, jewel, coin, exp, point_pvp, point_ladder, point_expedition, 
		point_union, receive_message_timestamp, last_loot_time, last_login_time)
		VALUES(#{account}, #{userName}, #{serverId}, #{unionId}, #{jewel}, #{coin}, #{exp}, #{pointPVP}, #{pointLadder},
		#{pointExpedition}, #{pointUnion}, #{receiveMessageTimeStamp}, #{lastLootTime}, #{lastLoginTime})
	</insert>
	
	<update id="updateUser" parameterType="com.trans.pixel.model.userinfo.UserBean">
		UPDATE user SET account=#{account}, name=#{userName}, server_id=#{serverId}, union_id=#{unionId}, union_job=#{unionJob}, jewel=#{jewel}, coin=#{coin},
		exp=#{exp}, point_pvp=#{pointPVP}, point_ladder=#{pointLadder}, point_expedition=#{pointExpedition},
		point_union=#{pointUnion}, receive_message_timestamp=#{receiveMessageTimeStamp},vip=#{vip},
		last_loot_time=#{lastLootTime}, last_login_time=#{lastLoginTime}, ladder_mode_history_top=#{ladderModeHistoryTop}
		WHERE id=#{id}
	</update>

</mapper>
