<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserLevelRecordMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserLevelLootRecordBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="packageCount" column="package_count" />
		<result property="lootLevel" column="loot_level" />
		<result property="levelLootStartTime" column="level_loot_start_time" />
		<result property="lootTime" column="loot_time" />
		<result property="lootRewardRecord" column="loot_reward_record" />
	</resultMap>

	<select id="selectUserLevelLootRecord" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_level_loot_record where user_id = #{userId}
	</select>
	
	<insert id="insertUserLevelLootRecord" parameterType="com.trans.pixel.model.userinfo.UserLevelLootRecordBean">
		INSERT INTO user_level_record(user_id, package_count, loot_level, last_level_loot_time, loot_time, loot_reward_record)
		VALUES(#{userId}, #{packageCount}, #{lootLevel}, #{lastLevelLootTime}, #{lootTime}, #{loot_reward_record})
	</insert>
	
	<update id="updateUserLevelLootRecord" parameterType="com.trans.pixel.model.userinfo.UserLevelLootRecordBean">
		UPDATE user_level_loot_record 
		SET package_count=#{packageCount},
		loot_level=#{lootLevel}
		last_level_loot_time=#{lastLevelLootTime}, 
		loot_time=#{lootTime},
		loot_reward_record=#{lootRewardRecord}
		WHERE user_id=#{userId}
	</update>

</mapper>