<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserTeamMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserTeamBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="record" column="record" />
	</resultMap>
	
	<insert id="addUserTeam" parameterType="com.trans.pixel.model.userinfo.UserTeamBean">
	    INSERT INTO user_team(user_id, record)
	    VALUES(#{userId}, #{record})
	</insert>
	
	<update id="updateUserTeam" parameterType="com.trans.pixel.model.userinfo.UserTeamBean">
	    UPDATE user_team
	    SET record=#{record}
		WHERE id=#{id}
	</update>
	
	<select id="selectUserTeamList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_team where user_id=#{userId}
	</select>
	
</mapper>