<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.UserTeamMapper">

	<resultMap id="resultMap" type="com.trans.pixel.model.userinfo.UserTeamBean">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="teamRecord" column="record" />
		<result property="composeSkill" column="compose_skill" />
		<result property="rolePosition" column="role_position" />
	</resultMap>
	
	<!-- <insert id="addUserTeam" useGeneratedKeys="true" keyProperty="id" parameterType="com.trans.pixel.model.userinfo.UserTeamBean">
	    INSERT INTO user_team(user_id, record, compose_skill)
	    VALUES(#{userId}, #{teamRecord}, #{composeSkill})
	</insert> -->
	
	<!-- <insert id="delUserTeam">
	    DELETE
		from user_team where id=#{id}
	</insert> -->
	
	<update id="updateUserTeam" parameterType="com.trans.pixel.model.userinfo.UserTeamBean">
		INSERT INTO user_team(user_id, id, record, compose_skill, role_position)
	    VALUES(#{userId}, #{id}, #{teamRecord}, #{composeSkill}, #{rolePosition})
		ON 
	    duplicate key update
	    record=#{teamRecord}, compose_skill=#{composeSkill}, role_position=#{rolePosition}
	</update>
	
	<select id="selectUserTeamList" parameterType="long" resultMap="resultMap">
		SELECT *
		from user_team where user_id=#{userId}
	</select>
	
</mapper>