<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.pixel.model.mapper.WriteUserMapper">

	<select id="selectWriteUser" parameterType="string" resultType="int">
		SELECT id
		from write_user where account=#{account}
	</select>
	
	<insert id="insertWriteUser" parameterType="string">
	    INSERT INTO write_user(account)
	    VALUES(#{account})
	</insert>
	
	<delete id="deleteWriteUser" parameterType="string">
		DELETE 
		from write_user where account=#{account}
	</delete>
	
</mapper>