.ul-wapper {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 303px;
    margin: 0 auto;
    border-width: 27px;
    border-style: solid;
    border-image: url(images/bottoms.png) 27 fill stretch;
}
.ul-wapper .ui-detailview {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 318px;
    position: relative;
}
.ui-page {
    position: absolute;
    top: 50%;
    left: 50%;
}
#background-page {
    border-width: 100px 0 90px;
    border-style: solid;
    border-image: url(images/main_bg.jpg) 100 0 90 0 fill stretch;
}
body, .ui-page {
    margin: 0;
    padding: 0;
    width: 360px;
    overflow: hidden;
    margin-left: -180px;
}