.new-tab {
    background: none;
    border: 0;
    top: 50%;
   /* opacity: .4;
    filter: Alpha(Opacity=40);*/
}
.ui-page-active {
    overflow: hidden;
}
.ui-controlgroup .ui-controlgroup-controls .new-tab:first-child {
    border-radius: 0px;
}
.nav-userbtn .ui-icon-delete {
  display: none;
}
.nav-userbtn .nav-btn-active .ui-icon-delete {
  display: inline-block;
}
.jqm-demos .jqm-footer.ui-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
}
#config-controlgroup, #server-controlgroup, #user-controlgroup {
  margin: 0;
  white-space:nowrap;
}
.ui-controlgroup-controls .nav-btn.ui-btn, .ui-controlgroup-controls .nav-btn.ui-last-child {
  margin: -1px;
  margin-right: -8px;
  border-bottom-width: 1px;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.jqm-list .ui-btn:hover, .ui-controlgroup .ui-btn:hover {
  background-color: #555;
}
.jqm-list .nav-btn-active, .ui-controlgroup-controls .nav-btn-active {
  background-color: #38c;
  border-color: #38c;
  color: #fff;
  text-shadow: 0 1px 0 #059;
}
.jqm-demos .jqm-list .ui-btn:hover, .jqm-demos .jqm-list .ui-btn:active, .ui-controlgroup .ui-btn:hover {
    color: #3388cc;
    text-shadow: none;
}
.jqm-demos .jqm-list .ui-btn, .jqm-demos .jqm-list .ui-btn:visited, .jqm-demos .jqm-list .ui-li-divider {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: none;
}
  .json-editor .property {
      width: 170px;
      border-radius: 0px;
  }
  .jqm-demos .jqm-navmenu-panel {
  float:left;
  left: 0px;
  position: relative;
  width:25%;
  transform: none !important;
  transition: none 0s ease 0s !important;
  box-shadow: none;
  max-height: 100%;
  overflow: hidden;
}
.jqm-demos .jqm-content {
    overflow: hidden;
    /*width: 75%;*/
    padding: 0;
    /*float: right;*/
}
.json-editor-title {
  margin: 5px 10px;
  padding:0 20px;
  font-size: 1.5em;
  font-weight: bold;
}
.json-editor{
  padding-top: 0;
}
.editor-btn{
  margin:0;
  margin-left: 10px;
  margin-right: -24px;
}
.table-btn{
	margin: -8px 0;
}
jsoneditor .json{
  margin-top:0;
  margin-bottom:0;
}
#rewardForm{
	background: rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 48em) {
/*	.menu-panel{
		width:25%;
	}*/
	#rewardForm .ui-block-a, #rewardForm .ui-block-b{
		padding: 10px;
	}
}